<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/public/css/products.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    
    <main>
        <div class="product">
            <% if (errorMessage) { %>
                <div class="user-message user-message--error"><%= errorMessage %></div>
                <% } %>
            <form class="product-form" action="/admin/add-product" method="POST" enctype="multipart/form-data">
                <div class="form-control">
                    <label for="title">Title</label>
                    <input 
                        type="text" 
                        name="title" 
                        id="title" 
                        value="<% if (editing || hasError) { %><%= product.title %><% } %>">
                </div>
                <div class="form-control">
                    <label for="image">Image</label>
                    <input 
                        type="file" 
                        name="image" 
                        id="image" >
                </div>
                <div class="form-control">
                    <label for="price">Price</label>
                    <input 
                        type="number" 
                        name="price" 
                        id="price" 
                        step="0.01" 
                        value="<% if (editing || hasError) { %><%= product.price %><% } %>">
                </div>
                <div class="form-control">
                    <label for="description">Description</label>
                    <textarea 
                        name="description" 
                        id="description" 
                        rows="5"
                        class="color:black">
                        <% if (editing || hasError) { %><%= product.description %><% } %>
                    </textarea>
                </div>
                <div class="stock-status">
                    <label>
                        <input type="checkbox" name="inStock" id="inStock" value="true">
                        <span class="checkmark"></span>
                        In Stock
                    </label>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit">Add product</button>
            </form>
        </div>
    </main>
</body>
</html>