<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/public/css/posts.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    
    <div class="container">
        <h1>Simple Blog</h1>
        <% if (isAuthenticated) { %>
            <a href="/admin/add-post">Add post</a>
        <% } %>
        <div class="posts">
            <% if (posts.length > 0) { %>
            <% for (let post of posts) { %>
                <% if ((post.isVisible && !isAuthenticated) || isAuthenticated) { %>
                    <div class="post">
                        <h2><%= post.title %></h2>
                        <p><%= post.content.substring(0, 300) + (post.content.length > 300 ? '...' : '') %></p>
                        <a href="/posts/<%= post._id %>">Read more</a>
                        <div class="comments">
                            <h3>Comments</h3>
                            <ul class="comment-list">
                                <% for (let comment of post.comments) { %>
                                    <li><%= comment.text %></li>
                                    <li>
                                        <form action="/admin/delete-comment/post/<%= post._id %>/comments/<%= comment._id %>" method="POST">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button type="submit" class="btn">Delete</button>
                                        </form>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                        <% if (isAuthenticated) { %>
                            <div class=postt_item_actions">
                                <a href="/admin/edit-post/<%= post._id %>?edit=true" class="btn">Edit</a>
                                <form action="/admin/delete-post/<%= post._id %>" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button type="submit" class="btn">Delete</button>
                                </form>
                                <form action="/admin/posts/status/<%= post._id %>" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button type="submit" class="btn"><%= post.isVisible ? 'Visible' : 'Invisible' %></button>
                                </form>
                                <form action="/admin/posts/featured/<%= post._id %>" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button type="submit" class="btn"><%= post.isFeatured ? 'Featured' : 'Not Featured' %></button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                <% } %>
            <% } %>
            <% } else { %>
                <h2>No posts found</h2>
            <% } %>
        </div>
    </div>
</body>
</html>