<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/public/css/details.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    
    <main>
        <div>
            <h1><%= post.title %></h1>
            <p><%= post.content %></p>
        </div>
        <div class="comments">
            <h3>Comments</h3>
            <ul class="comment-list">
                <% for (let comment of post.comments) { %>
                    <li><%= comment.text %></li>
                    <li>
                        <form action="/admin/delete-comment/post/<%= post._id %>/comments/<%= comment._id %>" method="POST">
                            <!-- <input type="hidden" name="_csrf" value="<%= csrfToken %>"> -->
                            <button type="submit" class="btn">Delete</button>
                        </form>
                    </li>
                <% } %>
            </ul>
            <form class="comment-form" action="/posts/<%= post._id %>" method="POST">
                <input type="text" id="comment" name="comment" placeholder="Leave a comment">
                <!-- <input type="hidden" name="_csrf" value="<%= csrfToken %>"> -->
                <button type="submit">Submit Comment</button>
            </form>
        </div>
    </main>

</body>
</html>