<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/public/css/services.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    
    <div class="services">
        <h1>Our services</h1>
        <% if (isAuthenticated) { %>
            <a href="/admin/add-service">Add service</a>
        <% } %>
        <% if (services.length > 0) { %>
            <div>
                <% for (let service of services) { %>
                    <ul class="list_outer">
                        <li>
                            <ul class="list_inner">
                                <li>
                                    <%= service.name %>
                                </li>
                                <li>
                                    <%= service.time %>
                                </li>
                                <li>
                                    <%= service.price %>$
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <% if (isAuthenticated) { %>
                        <div class="service_item_actions">
                            <a href="/admin/add-service/<%= service._id %>?edit=true" class="btn">Edit</a>
                            <form action="/admin/delete-service/<%= service._id %>" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit" class="btn">Delete</button>
                            </form>
                        </div>
                    <% } %>
                <% } %>
            </div>
        <% } else { %>
            <h2>No services found</h2>
        <% } %>
    </div>
</body>
</html>