<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/public/css/services.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    
    <div class="services">
        <h1>Our services</h1>
        <% if (isAuthenticated) { %>
            <a href="/admin/add-service">Add service</a>
        <% } %>
        <% for (let service of services) { %>
            <ul class="list_outer">
                <li>
                    <ul class="list_inner">
                        <li>
                            <%= service.name %>
                        </li>
                        <li>
                            <%= service.time %>
                        </li>
                        <li>
                            <%= service.price %>
                        </li>
                    </ul>
                </li>
            </ul>
        <% } %>
    </div>
</body>
</html>